/* RESET & FONTS */
@import "base/reset.scss";
@import "base/exception.scss";
@import "fonts/stylesheet.scss";
@import "icons/style.scss";

/* IMPORT COMMON */
@import "common/modal.scss";
@import "common/loader.scss";

/* IMPORT GENERAL */
@import "base/title.scss";
@import "base/breadcrumb.scss";
@import "base/toolbar.scss";
@import "base/video.scss";

/* IMPORT FORM */
@import "form/captcha.scss";
@import "form/collection.scss";
@import "form/choices.scss";
@import "form/file.scss";
@import "form/input.scss";
@import "form/phone.scss";
@import "form/select.scss";
@import "form/textarea.scss";
@import "form/buttons.scss";

/* IMPORT DATAGRID */
@import "datagrid/datagrid_top.scss";
@import "datagrid/datagrid_bottom.scss";
@import "datagrid/datagrid.scss";

/* FORM INLINE*/
.form_crud {
    max-width:$max_w_form;
    margin-bottom:10px;
    .form_row {
        margin-bottom:15px;
        ///////
        //&.row_50 {
        //    display:inline-block;
        //    width:calc(50% - 10px);
        //    vertical-align:top;
        //    margin-left:0px;
        //    margin-right:10px;
        //    &+.form_row {
        //        display:inline-block;
        //        vertical-align:top;
        //
        //        width:calc(50% - 10px);
        //
        //        margin-left:10px;
        //        margin-right:0px;
        //
        //    }
        //}
        ///////
        .form_label {
            display: inline-block;
            vertical-align: top;

            width: $max_w_label;
            padding-right:10px;

            font-family:$semibold;
            font-size:16px;
            line-height:20px;

            color:#7f8fa4;
            &.required {
                &:after {
                    margin-left: 5px;

                    content: "*";
                    color: $error;
                }
            }
            &.form_title {
                width:100%;
                margin-bottom:20px;
            }
            &.form_locale {
                font-family:$semibold_i;
                color:#99a5b6;
                &+* {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - #{$max_w_label});
                    .form_row {
                        INPUT.form_input,
                        .input_w,
                        .form_input,
                        .form_textarea,
                        .password_w,
                        .custom_select_w,
                        .custom_file_w,
                        .custom_choice_w,
                        .form_cke,
                        .form_div{
                            width:100%;
                        }
                    }
                }
            }
        }
        .form_comment {
            font-family:$italic;
            font-size:12px;
            line-height:16px;

            color:#99a5b6;
        }
        INPUT.form_input,
        .input_w,
        .password_w,
        .form_textarea,
        .custom_select_w,
        .custom_file_w,
        .custom_choice_w,
        .custom_choice,
        .custom_tel_w,
        .custom_captcha_w,
        .form_cke,
        .datetime_w,
        .form_div{
            display: inline-block;
            vertical-align: top;
            width: calc(100% - #{$max_w_label});
            .crud-color{
                &+INPUT.form_input{
                    width:140px;//Why?//
                }
            }
            INPUT.form_input{
                width:100%;
            }
            .custom_choice {
                width:50%;
            }
            &.long_choices{
                .custom_choice{
                    width:100%;
                }
            }

            &.icon_choices{
                .custom_choice{
                    width:25%;
                }
            }
        }
        .input_w {
            &.date_mobile,
            &.time_mobile{
                display: none;
            }
        }
        .form_preview_media {
            padding-left:$max_w_label;
        }
        .custom_select_m_list{
            &.active {
                width: calc(100% - #{$max_w_label}) !important;

                margin-bottom: 10px;
                &+.custom_select_w{
                    margin-left:$max_w_label;
                }
            }
            &+.custom_select_w{
                &.multiple {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - #{$max_w_label});
                }
            }
        }
        .datetime_w {
            .date_w,
            .time_w {
                display:inline-block;
                vertical-align: middle;

                width: calc(50% - 7.5px);
                .input_w{
                    width:100%;
                }
            }
            .date_w {
                margin-right:7.5px;
            }
            .time_w {
                margin-left:7.5px;
            }
        }
        &.form_error > {
            .form_label,
            .form_comment{
                color:$error;
            }
            INPUT,
            .form_textarea,
            .custom_select_icon,
            .custom_file_w,
            .form_select,
            .input_w INPUT,
            .password_w INPUT,

            .datetime_w .date_w INPUT,
            .datetime_w .time_w INPUT,

            .custom_select_w INPUT,
            .custom_select_w SELECT.form_select,
            .custom_select_w .custom_select_icon,

            .custom_tel_w INPUT,
            .custom_tel_w SELECT.form_select,
            .custom_tel_w .custom_select_icon {
                border-color:$error;
            }
            .form_cke {
                border:2px solid $error;
            }
        }
        .form_error_display {
            position:relative;

            width: calc(100% - #{$max_w_label});

            margin:8px 0px 5px $max_w_label;
            padding:5px 10px;
            background-color:$error;
            font-family:$bold;
            font-size:12px;
            line-height:16px;

            color:#FFF;

            .form_error_arrow {
                position:absolute;
                top:-4px;
                left:30px;

                display:inline-block;
                width:8px;
                height:8px;

                background-color:$error;

                transform: rotate(45deg);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .form_crud {
        .form_row {
            .input_w {
                &.date_mobile {
                    display: inline-block;
                }
                &.date_desktop {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .form_crud {
        .form_row {
            .form_label {
                display:block;
                width:100%;
                margin-bottom:5px;
                &.form_locale {
                    &+* {
                        display: inline-block;
                        vertical-align: top;
                        width:100%;
                    }
                }
            }
            INPUT.form_input,
            .input_w,
            .password_w,
            .form_textarea,
            .custom_select_w,
            .custom_file_w,
            .custom_choice_w,
            .custom_tel_w,
            .custom_captcha_w,
            .form_cke,
            .datetime_w,
            .form_div{
                display: block;
                width:100%;
            }
            .form_comment {
                width:100%;
                margin-left:0px;
            }
            .form_preview_media {
                padding-left:0px;
            }
            .custom_select_m_list{
                &.active {
                    width: 100% !important;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    &+.custom_select_w{
                        margin-left:0px;
                    }
                }
                &+.custom_select_w{
                    &.multiple {
                        width: 100%;
                    }
                }
            }
            .form_error_display{
                width:100%;
                margin-left:0px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .form_crud{
        .form_row{
            .custom_choice_w {
                &.icon_choices {
                    .custom_choice {
                        width: 50% !important;
                    }
                }
            }
            .datetime_w{
                .date_w{
                    width:100%;
                    margin-right:0px;
                }
                .time_w{
                    width:100%;
                    margin-left:0px;

                    margin-top:10px;
                }
            }
        }
    }
}

/* DISABLED */
INPUT[disabled]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="button"]):not([type="hidden"]):not([type="submit"]),
INPUT.disabled,
TEXTAREA[disabled],
.custom_select_w.disabled,
.custom_select_w.disabled INPUT,
.custom_select_w.disabled SELECT,
.custom_select_w.disabled .custom_select_icon {
    background-color: #EEE;

    opacity:1 !important;
    pointer-events:none;
}

.collapsible {
    box-sizing: content-box;
    max-height: none;
    overflow: hidden;
    transition-property: max-height, padding, margin, border;
}
.collapsible[aria-expanded=false] {
    max-height: 0;
}

FIELDSET[aria-expanded=false], .fieldset_row[aria-expanded=false] {
    display:none;
}
FIELDSET {
    border:0px solid #000;
}

.hide_item_dev{
    display:none;
}

