/* VARIABLES => POLICES */
$light: 'source_sans_prolight';
$light_i: 'source_sans_prolight_italic';

$semibold: 'source_sans_prosemibold';
$semibold_i: 'source_sans_proSBdIt';

$bold: 'source_sans_probold';
$bold_i: 'source_sans_probold_italic';

$regular: 'source_sans_proregular';
$italic: 'source_sans_proitalic';

/* VARIABLES => COULEURS GENERALE */
$site:                #ef790b;
$site_hover:          #cc680a;

/* VARIABLES => DATAGRID */
$nb_element_responsive_datagrid : 5;

/* VARIABLES => FORM */
$h_form:40px;
$max_w_form:800px;
$max_w_label:300px;

$border:#dbe5ea;
$background:blue;

$icon:#9fa9ba;
$icon_background:#eff3f6;

$focus:$site;

$error:#fc565e;
$error_hover:#e43941;

$valid:#4bcc70;
$valid_hover:#26b14e;

$neutral:#ffbb44;
$neutral_hover:#d89116;

$duplicate:#56cffc;
$duplicate_hover:#20a5d7;