.loading {
    position:fixed;
    top:0px;
    left:0px;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    background-color:rgba(#000,0.6);
    &.active {
        display:block;
    }
    .load_icons {
        position: absolute;
        display:inline-block;
        width:80px;
        height:80px;
        top: 50%;
        left:50%;
        transform: translate(-50% , -50%);
        .crud-load_w,
        .crud-load {
            display: inline-block;
            position: absolute;
            font-size: 80px;
        }
        .crud-load_w {
            opacity: 0.4;
            color: $site;
            z-index: 20;
        }
        .crud-load {
            color: $site;
            z-index: 30;
        }
    }

}

.loading_anim {
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

