/*MODAL*/
BODY.modal_open{
    overflow: hidden;
    height:100vh;
    -webkit-overflow-scrolling: auto; // On mobile, use regulare scrolling instead of touch which use momentum-based-scrolling, TODO see usage
}
.modal_crud_w{
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;

    background-color:rgba(#000,0.5);
    z-index:999;
    &.modal_long {
        .modal_crud {
            height:90vh;
            overflow-y:auto;
            overflow-x:hidden;
            top:5vh;
            transform:translateX(-50%);
        }
    }
    .modal_crud{
        position:absolute;
        display:block;
        width:100%;
        max-width:800px;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color:#FFF;
        border-radius:5px;
        padding:20px;
        &.modal_confirm {
            max-width:500px;
            .main_title{
                text-align:center;
                margin-bottom:20px;
            }
            .form_button_row {
                text-align:center;
                .form_button{
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .modal_crud_close {
            position:absolute;
            top:20px;
            right:20px;

            cursor:pointer;
        }
        .main_title {
            width:calc(100% - 40px);
        }
        .form_crud {
            display:block;
            margin:0 auto;
        }
    }
}


@media screen and (max-width: 450px) {
    .modal_crud_w {
        .modal_crud{
            &.modal_confirm{
                .form_button_row{
                    .form_button{
                        display:block;
                        width:100%;
                        text-align:center;
                        &+.form_button {
                            margin-left: 0px;
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }
}