.footer {
    margin:20px 0px 10px 0px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #e6eaee;
    .link_w,
    .copyright,
    .version {
        display:inline-block;
        vertical-align:top;
    }
    .link_w {
        width:calc(100% - 180px - 120px);
        .link {
            display:inline-block;
            vertical-align:top;
            margin:0px 5px;
            &:first-of-type{
                margin-left:0px;
            }
        }
    }
    .copyright{
        width:180px;
        padding-right:10px;
    }
    .version {
        width:120px;
        text-align:right;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        .link_w {
            display:block;
            width: 100%;
            margin-bottom:10px;
        }
        .copyright {
            width: 50%;
        }
        .version {
            width: 50%;
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {
        .copyright,
        .version{
            display:block;
            width:100%;
        }
    }
}