/* CONTENT GENERAL */
.content_w {
    display:inline-block;
    vertical-align:top;

    width:calc(100% - 225px);

    margin-left:225px;
    margin-top:61px;

    padding:0px 20px;

    border-radius:3px;
    .content {
        padding:30px 20px;

        background-color:#FFF;
        border:1px solid #e6eaee;
    }
}

@media screen and (max-width: 1024px) {
    .content_w{
        width:100%;
        margin-left:0px;
    }
}

@media screen and (max-width: 600px) {
    .content_w{
        margin-top:121px;
    }
}

/* GESTION MENU OUVERT / LIGHT */
.menu_w {
    &.light {
        &+.header {
            width: calc(100% - 50px);
            margin-left:50px;
            &+.content_w {
                width: calc(100% - 50px);
                margin-left:50px;
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .menu_w {
        &.light {
            &+.header {
                width: 100%;
                margin-left:0px;
                &+.content_w {
                    width: 100%;
                    margin-left:0px;
                }
            }
        }
    }
}




/* ALERT */
.alert {
    display:block;
    width:100%;
    margin-bottom:20px;
    padding:10px;
    border-radius:5px;
    &.alert_error{
        background-color:rgba($error,0.5);
        color:#e0000b;
    }
    &.alert_success{
        background-color:rgba($valid,0.5);
        color:#048a2a;
    }
    &.alert_neutral{
        background-color:rgba($neutral,0.5);
        color:#c77f00;
    }
}
