.header {
    position:fixed;

    display:inline-block;
    vertical-align:top;

    width:calc(100% - 225px);
    margin-left:225px;

    background-color:#FFF; /*CUSTOMISABLE*/
    border-bottom:1px solid #e6eaee;

    z-index:998;

    .logo_w {
        display:inline-block;
        vertical-align:top;

        width:calc(100% - 380px);

        padding-left:20px;
        .logo {
            display:inline-block;
            IMG {
                margin-top:9px;
                width:100%;
                max-width: 230px;
                max-height:43px;
            }
        }
    }
    .menu_trigger_head {
        display:none;
    }
    .actions_w {
        display:inline-block;
        vertical-align:top;

        width:380px;

        padding:10px 0px;

        .notification_w {
            display:inline-block;
            vertical-align:top;

            margin-right:20px;

            .notification_item {
                position:relative;


                display:inline-block;
                vertical-align:top;

                width:40px;
                height:40px;
                line-height:40px;

                font-size:20px;
                color:#9fa9ba; /*CUSTOMISABLE*/

                text-align:center;

                transition:color 0.4s ease;
                &:hover {
                    color:$site,
                }
                .notification {
                    position: absolute;

                    top: -2px;
                    right: -6px;

                    display: inline-block;

                    padding:5px 7px;
                    border-radius: 12px;

                    font-family: $semibold;
                    font-size: 9px;
                    line-height: 9px;
                    text-align: center;

                    background-color: $site; /*CUSTOMISABLE*/
                    color: #FFF; /*CUSTOMISABLE*/
                }
            }
        }
        .user_w {
            position:relative;

            display:inline-block;
            vertical-align:top;

            width:175px;
            .user_avatar {
                display:inline-block;
                vertical-align:middle;

                width:30px;
                height:30px;

                border-radius:100%;

                overflow:hidden;

                IMG {
                    width:100%;
                    border-radius:100%;
                }
            }
            .user_info {
                display:inline-block;
                vertical-align:middle;

                width:145px;

                padding:0px 5px 0px 10px;

                .user_info_name {
                    display:block;

                    width:100%;

                    font-family:$bold;
                    font-size:14px;

                    color:$site; /*CUSTOMISABLE*/

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .user_info_role {
                    width:100%;

                    font-family:$semibold;
                    font-size:12px;

                    color:#b5b5b5; /*CUSTOMISABLE*/
                    text-align:left;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .logout {
            display:inline-block;
            vertical-align:top;

            width:60px;
            height:40px;
            line-height:40px;

            color:#9fa9ba; /*CUSTOMISABLE*/
            font-size:20px;

            text-align:center;
            cursor:pointer;

            transition:color 0.4s ease;
            &:hover {
                color:$site;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        margin-left:0px;
        width:100%;
        .menu_trigger_head {
            display:none;
            vertical-align:middle;

            width:70px;

            padding-right:15px;
            color:#5b6779;
            cursor:pointer;
            &.tab {
                display:inline-block;
                width:60px;
                text-align:right;
                padding-right:10px;
                .icone {
                    font-size:22px;
                    line-height:60px;
                }
            }
            .icone {
                display:inline-block;
                vertical-align:top;
                line-height:55px;
                margin-right:5px;
            }
            .text {
                display:inline-block;
                vertical-align:top;
                line-height:55px;

                font-family:$semibold;
                font-size:12px;

                text-transform:uppercase;
            }
        }
        .logo_w {
            width:calc(100% - 380px - 60px);
            padding-left:0px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        .logo_w {
            width:calc(100% - 70px);
            padding-left:15px;
        }
        .menu_trigger_head {
            display:inline-block;
            &.tab{
                display:none;
            }
        }
        .actions_w {
            width:100%;
            border-top:1px solid #e6eaee;
            text-align:right;
            .user_w {
                width:60px;
                padding-top:5px;
                .user_info {
                    display:none;
                }
            }
        }
    }
}
