.crud_landing {

    position:relative;

    min-height:100vh;
    padding:200px 15px 50px 15px;

    background-image:url("/css/img/bg_landing.jpg");
    background-size:cover;

    .crud_landing_cache {
        position:absolute;
        top:0px;
        left:0px;

        width:100%;
        height:100%;

        background-color:rgba(#2d2f3d, 0.3);

        z-index:1;
    }
    .content_landing {
        position:relative;

        display:block;
        vertical-align:top;

        width:100%;
        max-width: 400px;

        margin:0 auto;
        padding:30px 60px;

        border-radius:4px;
        background-color:#FFF;
        text-align:center;

        z-index:10;

        .landing_title {
            display:block;

            margin-bottom:40px;

            font-family:$bold;
            font-size:18px;
            line-height:22px;
            text-transform:uppercase;

            SPAN {
                display:inline-block;

                padding-bottom:10px;

                border-bottom:2px solid $site;
            }
        }
        .form_crud {
            width:100%;

            margin-bottom:20px;

            text-align:left;

            .custom_choice {
                width:100%;
            }

            .form_row {
                .form_label {
                    display:block;
                    width:100%;
                    &[for="_remember_me"]{
                        display:inline-block;
                        width:calc(100% - 20px);
                        &+.custom_choice{
                            display:inline-block;
                            width:20px;
                        }
                    }
                }
                INPUT.form_input,
                .input_w,
                .password_w,
                .form_textarea,
                .custom_select_w,
                .custom_file_w,
                .custom_choice_w,
                .form_cke {
                    display:block;
                    width:100%;
                    .crud-view {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .custom_choice{
                    display:inline-block;
                    width:20px;
                }
                .form_error_display {
                    width:100%;
                    margin-left: 0px;
                }
            }

            .form_button_row {
                .form_button {
                    width:100%;
                    padding:20px 5px;

                    border-radius:0px;
                }
            }
        }
        .claim_pwd {
            margin-bottom:30px;

            a{
                font-size:12px;
                line-height:16px;

                color:#c5c5c5;
                text-decoration:underline;

                transition:color 0.4s ease;

                &:hover {
                    color:$site_hover;
                }
            }
        }
        .register {
            a {
                display:inline-block;

                font-family:$bold;
                font-size:16px;
                line-height:20px;
                text-transform:uppercase;

                color:$site;

                transition:color 0.4s ease;
                &:hover {
                    color:$site_hover;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .crud_landing {
        padding: 15px;
    }
}
@media screen and (max-width: 400px) {
    .crud_landing {;
        .content_landing {
            padding:15px;
            padding-bottom:1px;
        }
    }
}