.menu_w {
    position:fixed;

    display:inline-block;
    vertical-align:top;

    width:225px;
    height:100vh;

    overflow:hidden;
    overflow-y:auto;

    z-index:999;

    background-color:#222c3c; /*CUSTOMISABLE*/
    .menu_trigger {
        padding:20px;
        color:#5b6779; /*CUSTOMISABLE*/
        cursor:pointer;
        .crud-menu {
            display:inline-block;
            vertical-align:middle;
            width:20px;
            font-size:16px;
        }
        .text {
            display:inline-block;
            vertical-align:middle;
            width:calc(100% - 20px);
            font-family:$semibold;
            font-size:12px;
            line-height:16px;

            text-transform:uppercase;
        }
    }
    .menu_close {
        display:none;
    }
    .menu {
        .menu_item_w {
            .menu_item {
                position: relative;

                display: block;
                padding: 12px 20px;

                color: #FFF; /*CUSTOMISABLE*/
                transition: background-color 0.4s ease;
                cursor:pointer;
                .icone {
                    display: inline-block;
                    vertical-align: top;
                    width: 20px;

                    line-height: 18px;
                }
                .text {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 20px);
                    padding-left: 5px;

                    font-size: 14px;
                    line-height: 18px;
                }
                &:hover {
                    background-color: #313d4f; /*CUSTOMISABLE*/
                }
                &.active {
                    background-color: #313d4f; /*CUSTOMISABLE*/
                    border-top: 1px solid #222c3c; /*CUSTOMISABLE*/
                    border-bottom: 1px solid #222c3c; /*CUSTOMISABLE*/
                    .text {
                        font-family: $bold;
                    }
                }
                .notification {
                    position: absolute;

                    top: 1px;
                    left: 3px;

                    display: inline-block;
                    padding:0px 7px;
                    border-radius: 12px;

                    background-color: $site; /*CUSTOMISABLE*/
                    color: #FFF; /*CUSTOMISABLE*/

                    font-family: $semibold;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                }
                .expend {
                    position:absolute;
                    top:14px;
                    right:10px;
                    &.crud-bottom {
                        display:block;
                    }
                    &.crud-top {
                        display:none;
                    }
                }
                &.menu_group {
                    .text {
                        padding-right:20px;
                    }
                }
            }
            .submenu {
                display: none;
                background-color: #1b2330; /*CUSTOMISABLE*/
                &:not([aria-expanded=false]) {
                    padding:10px 0px;
                }
                .submenu_item {
                    position:relative;
                    display:block;
                    padding:10px 45px;

                    font-size:12px;
                    line-height:16px;

                    color:#cbcdd1;  /*CUSTOMISABLE*/
                    &:before {
                        content: "•";
                        position: absolute;
                        top: 50%;
                        left: 35px;
                        transform: translateY(-50%);
                        color:#1b2330; /*CUSTOMISABLE MAIS GARDER COULEUR DE FOND DU WRAP*/

                        font-size:17px;

                        transition:color 0.4s ease;
                    }
                    &:hover,
                    &.active {
                        &:before {
                            color:$site;
                        }
                        color:#FFF; /*CUSTOMISABLE*/
                    }
                }
            }
        }
    }
    &:not(.light) {
        .menu_item_w.open {
            .menu_item {
                .expend {
                    &.crud-bottom {
                        display:none;
                    }
                    &.crud-top {
                        display:block;
                    }
                }
            }
            .submenu {
                display:block;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .menu_w.light {
        width:50px;
        overflow: visible;
        overflow-y: visible;
        .menu_trigger {
            padding: 12px 0px;
            .icone {
                width:100%;
                text-align:center;
            }
            .text {
                display: none;
            }
        }
        .menu {
            .menu_item_w {
                position:relative;
                .menu_item {
                    padding: 12px 0px;
                    .icone {
                        width: 100%;
                        text-align: center;
                    }
                    .text {
                        display: none;
                    }
                    .notification {
                        width: 10px;
                        height: 10px;
                        font-size: 0px;
                    }
                    .expend {
                        display:none !important;
                    }
                    &.active {
                        border:0px;
                    }
                    &.open {
                        background-color: #313d4f;
                    }
                }
                .submenu {
                    position:absolute;
                    top:0px;
                    left:100%;

                    z-index:10;
                }

                &.light_open {
                    .submenu {
                        display:block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu_w {
        position:fixed;
        left:-100%;
        top:0px;
        width:100%;

        &.open {
            left:0%;
        }

        .menu_trigger {
            display:none;
        }
        .menu_close {
            display:block;
            padding:20px;
            font-size:24px;
            color:#5b6779; /*CUSTOMISABLE*/
            text-align:right;
            cursor:pointer;
        }
    }
}

.collapsible {
    box-sizing: content-box;
    max-height: none;
    overflow: hidden;
    transition-property: max-height, padding, margin, border;
}
.collapsible[aria-expanded=false] {
    max-height: 0;
}