@font-face {
  font-family: 'crud2017';
  src:  url('fonts/crud2017.eot?ix0awn');
  src:  url('fonts/crud2017.eot?ix0awn#iefix') format('embedded-opentype'),
    url('fonts/crud2017.woff2?ix0awn') format('woff2'),
    url('fonts/crud2017.ttf?ix0awn') format('truetype'),
    url('fonts/crud2017.woff?ix0awn') format('woff'),
    url('fonts/crud2017.svg?ix0awn#crud2017') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="crud-"], [class*=" crud-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crud2017' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crud-administrator:before {
  content: "\e942";
}
.crud-stats_dots:before {
  content: "\e943";
}
.crud-office:before {
  content: "\e944";
}
.crud-load_w:before {
  content: "\e940";
}
.crud-load:before {
  content: "\e941";
}
.crud-hourglass:before {
  content: "\e93e";
}
.crud-warning:before {
  content: "\e93f";
}
.crud-key:before {
  content: "\e93c";
}
.crud-home:before {
  content: "\e93d";
}
.crud-first:before {
  content: "\e93a";
}
.crud-last:before {
  content: "\e93b";
}
.crud-user-grp:before {
  content: "\e938";
}
.crud-user:before {
  content: "\e939";
}
.crud-flag:before {
  content: "\e912";
}
.crud-download:before {
  content: "\e930";
}
.crud-upload:before {
  content: "\e936";
}
.crud-color:before {
  content: "\e937";
}
.crud-menu:before {
  content: "\e935";
}
.crud-top:before {
  content: "\e931";
}
.crud-right:before {
  content: "\e932";
}
.crud-left:before {
  content: "\e933";
}
.crud-bottom:before {
  content: "\e934";
}
.crud-alert:before {
  content: "\e900";
}
.crud-bag:before {
  content: "\e901";
}
.crud-calc:before {
  content: "\e902";
}
.crud-calendar:before {
  content: "\e903";
}
.crud-chat:before {
  content: "\e904";
}
.crud-check:before {
  content: "\e905";
}
.crud-clock:before {
  content: "\e906";
}
.crud-close:before {
  content: "\e907";
}
.crud-config:before {
  content: "\e908";
}
.crud-double-chat:before {
  content: "\e909";
}
.crud-duplicate-file:before {
  content: "\e90a";
}
.crud-dupplicate-image:before {
  content: "\e90b";
}
.crud-edit:before {
  content: "\e90c";
}
.crud-ellipsis:before {
  content: "\e90d";
}
.crud-exclamation:before {
  content: "\e90e";
}
.crud-export:before {
  content: "\e90f";
}
.crud-file:before {
  content: "\e910";
}
.crud-filter:before {
  content: "\e911";
}
.crud-folder:before {
  content: "\e913";
}
.crud-image:before {
  content: "\e914";
}
.crud-information:before {
  content: "\e915";
}
.crud-justify:before {
  content: "\e916";
}
.crud-like:before {
  content: "\e917";
}
.crud-link:before {
  content: "\e918";
}
.crud-lock:before {
  content: "\e919";
}
.crud-login:before {
  content: "\e91a";
}
.crud-logout:before {
  content: "\e91b";
}
.crud-message:before {
  content: "\e91c";
}
.crud-messages:before {
  content: "\e91d";
}
.crud-minus:before {
  content: "\e91e";
}
.crud-notebook:before {
  content: "\e91f";
}
.crud-phone:before {
  content: "\e920";
}
.crud-plus:before {
  content: "\e921";
}
.crud-pointer:before {
  content: "\e922";
}
.crud-print:before {
  content: "\e923";
}
.crud-publish:before {
  content: "\e924";
}
.crud-question:before {
  content: "\e925";
}
.crud-refresh:before {
  content: "\e926";
}
.crud-reload:before {
  content: "\e927";
}
.crud-search:before {
  content: "\e928";
}
.crud-stats:before {
  content: "\e929";
}
.crud-trash:before {
  content: "\e92a";
}
.crud-unlock:before {
  content: "\e92b";
}
.crud-unpublish:before {
  content: "\e92c";
}
.crud-view:before {
  content: "\e92d";
}
.crud-web:before {
  content: "\e92e";
}
.crud-world:before {
  content: "\e92f";
}
