.form_button_row {
    .form_button {
        display: inline-block;
        padding: 10px 25px;
        color: #FFF;

        font-family: $bold;
        font-size: 14px;
        line-height:18px;
        text-transform: uppercase;

        background-color: $site;
        border-radius: 5px;

        border: 0px;
        outline: 0px;

        transition: background-color 0.4s ease;
        cursor: pointer;
        &:hover {
            background-color:$site_hover;
        }
        &+.form_button {
            margin-left:20px,
        }
        &.valid_button{
            background-color:$valid;
            &:hover {
                background-color:$valid_hover;
            }
        }
        &.error_button {
            background-color:$error;
            &:hover {
                background-color:$error_hover;
            }
        }
        &.neutral_button {
            background-color:$neutral;
            &:hover {
                background-color:$neutral_hover;
            }
        }
        &.grey_button{
            background-color:#adadad;
            &:hover {
                background-color:#868383;
            }
        }
    }
}