.custom_captcha_w{
    position:relative;
    IMG {
        display:inline-block;
        vertical-align:top;
        width:200px;
    }
    .captcha_reload {
        display:inline-block;
        vertical-align:top;
        width:40px;
        line-height:40px;
        height:40px;
        font-size:20px;

        &:hover {
            text-decoration:none;
        }
    }
    .form_input {
        display:inline-block !important;
        width:calc(100% - 240px) !important;
    }
}