/* CHECKBOX / RADIO */
.custom_choice {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    &.disabled,
    &.readonly {
        cursor: default;
        pointer-events: none;

        .custom_checkbox,
        .custom_radio {
            background-color: #f1f1f1;
        }
    }
}
.custom_choice_w {
    .custom_choice_group {
        .custom_choice_group_label {
            font-family:$semibold;
            color:#7f8fa4;
            margin-bottom:8px;
        }
        & + .custom_choice_group {
            margin-top:8px;
        }
    }
    .custom_choice{
        width: 25%;
    }
}

@media screen and (max-width: 960px) {
    .custom_choice_w {
        .custom_choice {
            width: 50%;
            margin-bottom:10px;
        }
    }
}

@media screen and (max-width: 630px) {
    .custom_choice_w {
        .custom_choice {
            width: 100%;
        }
    }
}

.custom_checkbox,
.custom_radio {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;

    background-color:#FFF;
    border: 2px solid $border;
    border-radius: 2px;

    z-index: 1;
    cursor:pointer;
    INPUT {
        position: absolute;
        margin: 0px;
        width: 1px;
        height: 1px;
        left: 1px;
        top: 1px;
        opacity: 0;

        cursor:pointer;
    }
    INPUT + span {
        display: none;
    }
    INPUT:checked + span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    INPUT[type=checkbox] {
        -webkit-appearance:checkbox;
    }
    INPUT[type=radio] {
        -webkit-appearance:radio;
    }

    & + LABEL {
        display: inline-block;
        vertical-align: top;
        max-width: calc(100% - 16px);
        min-height: 16px;
        padding: 0px 10px;
        line-height: 16px;
    }

    &.focus {
        border-color:$focus;
    }
}

.custom_checkbox {
    INPUT:checked + span {
        transform: translate(-50%, -60%) rotate(45deg);

        width: 6px;
        border-bottom: 2px solid $site;
        height: 10px;
        border-right: 2px solid $site;
    }
}
.custom_radio {
    border-radius: 100%;
    INPUT:checked + span {
        transform: translate(-50%, -50%);
        background-color: $site;
        border-radius: 100%;
        width: 60%;
        height: 60%;
    }
}
