.form_crud {
    .form_row {
        .form_collection_action{
            display:block;
            .crud-plus,
            .crud-minus{
                display:inline-block;
                vertical-align:middle;
                width:20px;
                height:20px;
                line-height:20px;
                border-radius:20px;
                background-color:$border;
                color:#FFF;
                text-align:center;
                transition:background-color 0.4s ease;
            }
            .crud-plus {
                margin-top:10px;
                background-color:#99a6b6;
            }
            .crud-minus {
                margin-bottom:10px;
                background-color:#dae5e9;
            }
            .text {
                margin-top:10px;
                display:inline-block;
                vertical-align:middle;

                color:#99a6b6;
                font-family: $bold;
                font-size: 16px;
                line-height:20px;

                margin-left:5px;
                transition:color 0.4s ease;
            }
            .collection-add:hover {
                .crud-plus{
                    background-color:$site;
                }
                .text {
                    color:$site;
                }
            }
            .collection-delete:hover {
                .crud-minus {
                    background-color:$error;
                }
            }
            .form_collection_row {
                border:1px solid #CCC;
                padding:15px;
                padding-bottom:0px;
                margin-bottom:15px;
            }

            & > .form_error_display {
                width:100%;
                margin-left:0px;
            }
        }
    }
}