/* FILE */
.custom_file_w {
    display:block;
    position:relative;

    width:100%;
    height:$h_form;

    border: 2px solid $border;

    -webkit-appearance:none;
    overflow: hidden;
    cursor: pointer;

    &.focus {
        border-color:$focus;
    }

    .icone {
        position:absolute;

        display:inline-block;
        vertical-align:top;

        width:calc(#{$h_form} - 2px);/*$h_form - border des champs*/
        height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/
        line-height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/

        text-align:center;
        font-size:18px;

        color:$icon;
        background-color:$icon_background;
    }

    .custom_file {
        display:inline-block;
        vertical-align:top;

        width:calc(100% - #{$h_form});
        height:calc(#{$h_form} - 4px);
        line-height:calc(#{$h_form} - 4px);

        padding:0px 7px 0px calc(7px + #{$h_form} - 4px);

        font-family:$regular;
        font-size:14px;
        color:#333c48;

        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
    }

    INPUT[type="file"] {
        position: absolute;
        bottom: 4px;
        left: 4px;

        width: 1px !important;
        height: 1px;

        border: 0px;
        margin: 0px;
        padding: 0px;

        z-index: 0;
        cursor:pointer;

        -webkit-appearance:none;
        outline:0px;
    }
}

.form_preview_media {
    display:block;
    width:100%;
    margin-top:10px;

    &.file {
        .form_preview_file{
            width:30px;
        }
    }
    .form_preview_file {
        display:inline-block;
        vertical-align: top;
        max-width:200px;
        IMG {
            max-width:100%;
            max-height:200px;
        }
    }
    .crud-file {
        font-size:40px;
    }
    .form_preview_actions {
        display:inline-block;
        vertical-align: top;
        width:calc(100% - 200px);
        padding-left:20px;
        .form_button_row {
            .form_button {
                margin-left:0px;

                & + BR + .form_button {
                    margin-top:10px;
                }

                .text{
                    color:#FFF;
                    margin-top: 0px;
                    display: inline-block;
                    vertical-align: unset;
                    font-family: "source_sans_probold";
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        .custom_choice{
            width:100% !important;
            margin-top:10px;
        }
    }
}

.modal_crop {
    .dnl_media_crop_img {
        margin:0px auto;
        max-width:100%;
    }
    .form_button_row {
        text-align:center;
    }
}

@media screen and (max-width: 768px) {
    .form_preview_media {
        .form_preview_actions{
            display:none;
        }
    }
}