/* INPUT */
INPUT.form_input {
    width:100%;
    height:$h_form;
    line-height:calc(#{$h_form} - 4px);

    padding:0px 7px;

    font-family:$regular;
    font-size:14px;
    color:#333c48;

    border: 2px solid $border;
    border-radius:0px;

    -webkit-appearance:none;
    &:focus {
        border-color:$focus;
    }
    &:required {
        box-shadow:none;
    }
    &:invalid {
        box-shadow:none;
    }
}

/* INPUT ICONE */
.input_w {
    position:relative;
    .form_input {
        padding-left:calc(#{$h_form} + 7px);
    }

    .icone:not(.crud-view) {
        position:absolute;
        top:2px;
        left:2px;

        display:inline-block;
        width:calc(#{$h_form} - 2px);/*$h_form - border des champs*/
        height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/
        line-height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/

        text-align:center;
        font-size:18px;

        color:$icon;
        pointer-events: none;
        &.icone_bg {
            background-color:$icon_background;
        }
    }
    .crud-color{
        &+INPUT.form_input {
            width:140px;
        }
    }
}

/* INPUT PASSWORD */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

.password_w {
    position:relative;
    .form_input {
        padding-right:calc(#{$h_form} + 7px);
    }

    .icone {
        position:absolute;
        top:2px;
        right:2px;

        display:inline-block;
        width:calc(#{$h_form} - 2px);/*$h_form - border des champs*/
        height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/
        line-height:calc(#{$h_form} - 4px);/*$h_form - border des champs X2*/

        text-align:center;
        font-size:18px;

        color:$icon;
        cursor:pointer;
    }
}

.date_mobile,
.time_mobile{
    display:none;
}

@media screen and (max-width: 1024px) {
    .date_mobile,
    .time_mobile{
        display:block;
    }
    .date_desktop,
    .time_desktop{
        display:none;
    }
}