.custom_tel_w {
    .custom_tel_select {
        display:inline-block;
        .custom_select_w {
            width:100% !important;
        }
    }
    .custom_tel_long {
        width:100%;
        margin-bottom:10px;
    }

    .custom_tel_short,
    .custom_tel_number {
        width:130px;
        margin-right:10px;

        & + INPUT {
            width:calc(100% - 140px) !important;
        }
    }
}

@media screen and (max-width:767px) {
    .custom_tel_w {
        INPUT {
            display:inline-block !important;
        }
    }
}