/* SELECT */
.custom_select_w {

    position:relative;

    display:block;
    width:100%;
    height: $h_form;

    &.focus {
        SELECT.form_select,
        .custom_select_value,
        .custom_select_icon {
            border-color:$focus;
        }
    }

    SELECT.form_select,
    .custom_select_value {
        position: relative;

        display: block;
        width: 100%;
        height: $h_form;
        line-height: $h_form;

        padding: 0px 7px;

        font-family: $regular;
        font-size: 14px;
        color: #333c48;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        background-color: #FFF;
        color: #333c48;

        outline: 0px;

        border: 2px solid $border;
        border-radius: 0px;

        -webkit-appearance: none;

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    .custom_select_value {
        display:block;

        padding-right: $h_form + 7px;
        &[readonly] {
            cursor:default;
        }
    }

    .custom_select_options {
        position:relative;
        display:none;

        width:100%;
        max-height:150px;

        padding:10px;
        background-color:#FFF;

        border: 2px solid $border;
        border-top:0px;

        user-select: none;
        overflow:hidden;
        overflow-y:auto;

        z-index:2;

        .custom_option,
        .custom_select_no_result {
            width:calc(100% - 10px);

            margin-right:10px;
            padding:5px;

            color:#333c48;
        }
        .custom_option {
            cursor:pointer;
            &:hover {
                background-color:#eff3f6;
            }
            &.selected {
                color:#FFF;
                background-color:$site;
            }
        }
        .custom_optgroup {
            margin:10px;
            .custom_optgroup_label {
                font-family:$semibold;

                margin-bottom:5px;
            }
        }
        .custom_select_hidden {
            display:none;
        }
    }

    .custom_select_icon {
        position: absolute;

        right: 0px;
        top: 0px;

        width: $h_form;
        height: $h_form;

        font-size: 16px;
        line-height: $h_form;
        color: #c5cbd6;
        text-align: center;

        background-color:#FFF;

        border: 2px solid $border;
        border-left: none;

        pointer-events: none;

        z-index:1;
    }

    &.custom_select_top {
        .custom_select_options {
            position:absolute;
            bottom: 100%;

            border-top:2px solid $border;
            border-bottom:0px;
        }
    }
}
.custom_select_m_list {
    display:none !important;
    width:0px !important;
    &.active {
        display:inline-block !important;
        width:100% !important;
        margin-bottom: 13px;
    }
    .custom_select_m_list_item {
        display:inline-block;
        vertical-align:top;
        position:relative;
        border:1px solid $border;
        border-radius:5px;
        padding:5px 10px 5px 25px;
        background-color: rgba($border , 0.4);
        margin: 2.5px;
        white-space: nowrap;
        &+.custom_select_m_list_item {

        }
        .crud-close {
            position:absolute;
            top:7px;
            left:5px;
            display:inline-block;
            width:20px;
            height:20px;
            cursor:pointer;
        }
    }
}

@media screen and (min-width: 1025px) {

    SELECT.form_select {
        position: absolute !important;
        bottom: 4px !important;
        left: 4px !important;

        width: 1px !important;
        height: 1px !important;

        border: 0px !important;
        margin: 0px !important;
        padding: 0px !important;

        z-index: 0 !important;
        cursor:pointer !important;

        -webkit-appearance:none !important;
        outline:0px !important;
    }

}


@media screen and (max-width: 1024px) {
    .custom_select_w {
        .custom_select_value,
        .custom_select_options {
            display:none !important;
        }
    }
    .custom_select_w {
        &.multiple {
            .form_select {
                display:none !important;
            }
            .custom_select_value{
                position: relative;

                display: block !important;
                width: 100%;
                height: $h_form;
                line-height: $h_form;

                padding: 0px 7px;

                font-family: $regular;
                font-size: 14px;
                color: #333c48;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                background-color: #FFF;
                color: #333c48;

                outline: 0px;

                border: 2px solid $border;
                border-radius: 0px;

                -webkit-appearance: none;

                &:-moz-focusring {
                    color: transparent;
                    text-shadow: 0 0 0 #000;
                }
            }
        }
    }
}