/* TEXTAREA */
TEXTAREA.form_textarea {
    width:100%;
    min-height:108px;

    padding:7px;

    line-height:18px;

    font-family:$regular;
    font-size:14px;
    color:#333c48;

    border: 2px solid $border;
    -webkit-appearance:none;

    resize:vertical;

    &:focus {
        border-color:$focus;
    }
}

/* FORM DIV(LOL) */
.form_div {
    width:100%;

    padding:7px;

    line-height:18px;

    font-family:$regular;
    font-size:14px;
    color:#333c48;

    border: 2px solid $border;
    background-color: #EEE;
    overflow-x: auto;
    &:focus {
        border-color:$focus;
    }
}