@mixin tooltip_arrow {
    position:absolute;
    top:-3px;
    left:calc(50% - 3px);

    display:none;
    width:6px;
    height:6px;

    background-color:#99a5b6;

    transform: rotate(45deg);

    &.open {
        display:block;

        &+.action_tooltip {
            display:block;
        }
    }
}
@mixin action_tooltip {
    position:absolute;
    top:-38px;
    right:0px;

    display:none;
    padding:0px 8px;
    background-color:#99a5b6;
    white-space:nowrap;
    .action {
        color: #FFF !important;
        opacity:0.7;
        transition:opacity 0.4s ease;
        &:hover {
            opacity:1;
        }
    }
}

.datagrid {
    display:table;
    width:100%;
    border-spacing : 0;
    border-collapse : collapse;

    .datagrid_head {
        display:table-header-group;
        .datagrid_row {
            display:table-row;
            .datagrid_head_item{
                display:table-cell;
                padding:5px;
                white-space: nowrap;
                &.sorting {
                    .text {
                        cursor:pointer;
                    }
                    [class*='crud-']{
                        margin-left: 3px;
                        color: #7f8fa4;
                        &.active {
                            display: inline-block;
                        }
                    }
                }
                .text {
                    display:inline-block;
                    vertical-align:middle;
                    margin-left:0px;

                    font-family: $semibold;
                    font-size: 14px;
                    line-height: 18px;

                    color: #7f8fa4;
                }

                &.action_cell {
                    text-align:center;
                    cursor: pointer;
                }
            }
        }
    }
    .datagrid_content {
        display:table-row-group;
        .datagrid_content_no_item {
            padding:10px;
            font-family: $italic;
            color:#7f8fa4;
        }
        .datagrid_row {
            display:table-row;
            &:nth-child(odd){
                background-color:#f5f8fa;
            }
            &+.datagrid_row {
                .datagrid_row_item {
                    border-top: 1px solid #e7e9ed;
                }
            }
            .datagrid_row_item {
                display:table-cell;
                vertical-align:middle;

                padding:10px 5px;

                font-size:14px;
                line-height:18px;
                color:#333c48;
                IMG {
                    max-height:75px;
                }
                a {
                    display:block;
                    color:#333c48;
                }
                &:nth-child(2) {
                    padding-left:10px;
                }
                &.trigger_data_row {
                    display:none;
                    font-size:18px;
                }
                &.action_cell {
                    position:relative;
                    vertical-align:middle;

                    width:$nb_element_responsive_datagrid * 32px;
                    padding:0px;
                    text-align:center;
                    .action_button,
                    .action {
                        display:inline-block;
                        vertical-align:top;
                        width:20px;
                        margin:0px 5px;

                        font-size:16px;
                        line-height:38px;
                        color: #99a5b6;

                        text-align:center;
                        &.crud-trash{
                            color:$error;
                            &:hover {
                                color:$error_hover;
                            }
                        }
                        &.crud-edit{
                            color:$neutral;
                            &:hover {
                                color:$neutral_hover;
                            }
                        }
                        &.crud-publish{
                            color:$valid;
                            &:hover {
                                color:$valid_hover;
                            }
                        }
                        &.crud-unpublish{
                            color:$error;
                            &:hover {
                                color:$error_hover;
                            }
                        }
                        &.valid_action{
                            color:$valid;
                            &:hover {
                                color:$valid_hover;
                            }
                        }
                        &.error_action {
                            color:$error;
                            &:hover {
                                color:$error_hover;
                            }
                        }
                        &.neutral_action {
                            color:$neutral;
                            &:hover {
                                color:$neutral_hover;
                            }
                        }
                        &.duplicate_action {
                            color:$duplicate;
                            &:hover {
                                color:$duplicate_hover;
                            }
                        }
                        &.site_action {
                            color:$site;
                            &:hover {
                                color:$site;
                            }
                        }
                        &.crud-ellipsis {
                            color:#99a5b6;
                        }
                    }

                    .action_button {
                        display:none;
                    }

                    &.mobile_action {
                        .action_button {
                            display:inline-block;
                        }
                        .tooltip_arrow {
                            @include tooltip_arrow;
                        }
                        .action_tooltip {
                            @include action_tooltip;
                        }
                    }
                }
                &.order_cell{
                    width:65px;
                    text-align: center;
                    INPUT.form_input{
                        width:40px;
                        height:25px;
                        line-height:25px;
                        border-radius:5px;
                    }
                }
            }
            .datagrid_row_mobile {
                display:none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .datagrid {
        .datagrid_head{
            .datagrid_row {
                .datagrid_head_item {
                    display:none;
                    &.mobile_main,
                    &.tab_main,
                    &.action_cell {
                        display:table-cell;
                    }
                }
            }
        }
        .datagrid_content {
            .datagrid_row {
                .datagrid_row_item {
                    display:none;
                    &.mobile_main,
                    &.tab_main,
                    &.action_cell {
                        display:table-cell;
                    }
                }
            }
        }
        &.datagrid_trad {
            .datagrid_head {
                .datagrid_row {
                    .datagrid_head_item {
                        display:table-cell;
                    }
                }
            }
            .datagrid_content {
                .datagrid_row {
                    .datagrid_row_item {
                        display:table-cell;
                    }
                }
            }
        }
    }
}



@media screen and (min-width: 601px) {
    .datagrid .datagrid_content .datagrid_row .datagrid_row_mobile {
        display:none !important;
    }
}

@media screen and (max-width: 600px) {
    .datagrid {
        .datagrid_head{
            .datagrid_row {
                .datagrid_head_item {
                    display: none;
                    &.mobile_main,
                    &.tab_main,
                    &.action_cell {
                        display:none;
                    }
                }
            }
        }
        .datagrid_content {
            .datagrid_row {
                display:block;
                position:relative;
                padding:5px 0px;
                .datagrid_row_item {
                    &.tab_main {
                        display:none;
                    }
                    &.trigger_data_row {
                        position:absolute;
                        top:50%;
                        left:0px;

                        transform:translateY(-50%);

                        display:inline-block;
                        vertical-align:middle;
                        width:40px;
                        font-size:18px;
                        text-align:center;
                        cursor:pointer;
                    }
                    &.mobile_main {
                        display:inline-block;
                        vertical-align:top;
                        width:100%;
                        padding:0px 45px;
                    }
                    &.action_cell {
                        position:absolute;
                        top:50%;
                        right:0px;
                        width:40px;
                        transform:translateY(-50%);
                        display:inline-block;
                        vertical-align:middle;

                        .action_button {
                            display:inline-block;
                        }
                        .tooltip_arrow {
                            @include tooltip_arrow;
                            top:-9px;
                        }
                        .action_tooltip {
                            @include action_tooltip;
                            top:-117%;
                        }
                    }
                }
                &.row_open {
                    .trigger_data_row {
                        top:0px;
                        transform:translateY(0%);
                    }
                    .action_cell {
                        top:0px;
                        transform:translateY(0%);
                    }
                }
                &+.datagrid_row {
                    .datagrid_row_item {
                        border-top:0px;
                    }
                }
                &+.datagrid_row {
                    border-top: 1px solid #e7e9ed;
                }
                .datagrid_row_mobile {
                    padding:10px 45px 15px 45px;
                    .datagrid_row_mobile_item {
                        margin-bottom:15px;
                        font-size:12px;
                        line-height:16px;
                        IMG {
                            max-height:75px;
                        }
                        .label {
                            font-family: $semibold;
                            color: #7f8fa4;
                        }
                        .value {

                        }
                        &:last-of-type {
                            margin-bottom:0px;
                        }
                        &.mobile_main {
                            display:none;
                        }
                    }
                }
            }
        }
        &.datagrid_trad {
            .datagrid_head {
                display:none;
            }
            .datagrid_content {
                .datagrid_row {
                    .datagrid_row_item {
                        display:block;
                    }
                }
            }
        }
    }
}

