.datagrid_top {
    .form_label {
        display:block;
        width:100%;
        margin-bottom: 0px;
        font-family: $semibold;
        font-size: 16px;
        line-height: 20px;

        color: #99a5b6;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .filter {
        display: none;
        width:calc(100% + 20px);
        margin-left:-10px;
        margin-bottom: 20px;


        .crud-reload {
            display: inline-block;
            vertical-align: top;

            width: 25px;
            margin-left: 5px;

            font-size: 12px;
            line-height: 20px;
            color: #99a5b6;
            cursor: pointer;

        }
        .filter_item {
            display: inline-block;
            vertical-align: top;

            width: calc((100% / 4) - 20px);
            margin: 0px 10px 10px 10px;
            INPUT.form_input {
                height:30px;
                line-height:30px;
            }
            .input_w {
                .icone {
                    height:calc(30px - 4px);
                    line-height:calc(30px - 4px);
                }
                INPUT.form_input {
                    height: 30px;
                    line-height: 30px;
                }
            }
            .custom_select_w {
                height: 30px;
                SELECT.form_select,
                .custom_select_value,
                .custom_select_icon {
                    height: 30px;
                    line-height: 30px;
                }
            }
            .input_w {
                .icone {
                    width:28px;
                    height:26px;
                    line-height:26px;
                }
            }
             .form_row {
                 margin-bottom:0px;

                &.row_50 + .form_row {
                    LABEL {
                        display:none;
                    }
                }
             }
        }
        &.filter_100 {
            .filter_item {
                width: calc((100% / 1) - 20px);
            }
        }
        &.filter_50 {
            .filter_item {
                width: calc((100% / 2) - 20px);
            }
        }

        &.filter_33 {
            .filter_item {
                width: calc((100% / 3) - 20px);
            }
        }
        &.filter_25 {
            .filter_item {
                width: calc((100% / 4) - 20px);
            }
        }
        .filter_date_range {
            margin-bottom:10px;
            .filter_date_range_item {
                display: inline-block;
                vertical-align: middle;
                width: calc((100% / 2) - 20px);
                margin: 0px 10px;
            }
        }
    }
    .search {
        display: none;
        width: 100%;
        margin-bottom: 20px;
        .form_label {
            margin-bottom: 5px;
            font-family: $semibold;
            font-size: 16px;
            line-height: 20px;

            color: #99a5b6;
        }
        INPUT.form_input {
            height: 30px;
            line-height: 30px;
        }
    }
}

/*FILTER.50 RESPONSIVE*/
@media screen and (max-width: 600px) {
    .datagrid_top {
        .filter {
            &.filter_50 {
                .filter_item {
                    width:100%;
                    margin:0px;
                    &+[class^="filter"] {
                        margin-top:10px;
                    }
                }
            }
        }
    }
}
/*FILTER.33 RESPONSIVE*/
@media screen and (max-width: 750px) {
    .datagrid_top {
        .filter {
            &.filter_33 {
                .filter_item {
                    width: calc((100% / 2) - 20px);
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .datagrid_top {
        .filter {
            &.filter_33 {
                .filter_item {
                    width:100%;
                    margin:0px;
                    &+[class^="filter"] {
                        margin-top:10px;
                    }
                }
            }
        }
    }
}

/*FILTER.25 RESPONSIVE*/
@media screen and (max-width: 1100px) {
    .datagrid_top {
        .filter {
            &.filter_25 {
                .filter_item {
                    width: calc((100% / 2) - 20px);
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .datagrid_top {
        .filter {
            &.filter_25 {
                .filter_item {
                    width:100%;
                    margin:0px;
                    &+[class^="filter"] {
                        margin-top:10px;
                    }
                }
            }
        }
    }
}


/*FILTER.DATE_RANGE RESPONSIVE*/
@media screen and (max-width: 600px) {
    .datagrid_top {
        .filter {
            .filter_date_range{
                .filter_date_range_item {
                    display:block;
                    width:100%;
                    margin:0px;
                    &+.filter_date_range_item{
                        margin-top:10px;
                    }
                }
            }
        }
    }
}
