.datagrid_bottom {
    display: block;
    margin-top: 10px;
    .datagrid_pagination {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 185px);
        .pagination_button {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            line-height: 29px;
            border-radius: 5px;
            background-color: #f5f8fa;

            text-align: center;
            border: 1px solid #e7e9ed;

            transition: background-color 0.4s, border-color 0.4s ease;

            SPAN {
                font-size: 12px;
                color: #8595a9;
                transition: color 0.4s ease;
            }
            &:hover {
                background-color: $site;
                border-color:$site;
                SPAN {
                    color: #FFF;
                }
            }
            &.disabled{
                opacity:0.5;
                cursor: auto;
                &:hover {
                    background-color: #f5f8fa;
                    border-color:#e7e9ed;
                    SPAN {
                        color: #8595a9;
                    }
                }
            }

            & + .pagination_count {
                margin-left:10px;
            }
        }
        .pagination_content {
            display: inline-block;
            vertical-align: top;
            padding: 0px 10px;
            .pagination_item {
                display: inline-block;
                vertical-align: top;
                margin: 0px 4px;
                line-height: 30px;
                cursor: pointer;

                transition: color 0.4s ease;
                a {
                    color: #000000;
                }
                a:hover {
                    color: $site;
                }
                &.active {
                    font-family: $semibold;
                    color: $site;
                }
                &:hover {
                    color: $site;
                }
            }
            &.pagination_content_select {
                width:120px;
                .custom_select_w {
                    SELECT.form_select,
                    .custom_select_value {
                        height: 30px;
                        line-height: 30px;
                    }
                    .custom_select_icon {
                        width:30px;
                        height:30px;
                        line-height:30px;
                    }
                }
            }
        }
        .pagination_count {
            display:inline-block;
            vertical-align:middle;
            height:30px;
            line-height:30px;

            font-family: $semibold;
            font-size: 14px;
            color: #7f8fa4;
        }
    }

    .pagination_element_w {
        display: inline-block;
        vertical-align: top;
        width: 180px;
        .custom_select_w {
            height: 30px;
            SELECT.form_select,
            .custom_select_value,
            .custom_select_icon {
                height: 30px;
                line-height: 30px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .datagrid_bottom {
        .datagrid_pagination {
            width:100%;
            text-align:center;
            .pagination_content {
                .pagination_item {
                    display:none;
                    &.active {
                        display:inline-block;
                    }
                }
            }
            .pagination_count {
                display:none;
            }
        }
        .pagination_element_w {
            display:none;
        }
    }
}