/* BREADCRUMB / ARIANE */
.breadcrumb {
    margin:15px 0px;
    .breadcrumb_item {
        display:inline-block;
        vertical-align:top;

        font-family:$light;
        font-size:20px;
        line-height:24px;

        color:#354052;

        &:after {
            content: "•";
            margin:0px 8px;
            line-height: 24px;
        }
        &:last-child{
            &:hover {
                color:#354052;
            }
            &:after {
                display: none;
            }
        }
        &[href]:hover {
            color:$site;
            &::after {
                color:#354052;
            }
        }
    }
}