BODY.exception {
	background-color:#dadde1;

    .align {
        position: absolute;
        top:50%;
        transform:translateY(-50%);

        width:100%;
        height:470px;

        text-align:center;
        .header {
            text-align: center;
            max-width:400px;
            margin:0 auto;
            IMG {
                display:inline-block;
                width:100%;
            }
        }

        .trait_sep{
            height:1px;
            margin-top:20px;
            margin-bottom:35px;
            overflow:hidden;

            font-size: 0;
            line-height: 0px;

            background-color:#eff0f2;
        }


        .section {
            .message{
                margin-bottom:35px;
                line-height:20px;

                text-align:center;
                font-size:16px;
                color:#51585b;
            }

            .barre_nav {
                width:100%;
                max-width:513px;
                margin: auto;

                .navigateur {
                    display:inline-block;
                    width:157px;
                    margin:0px 7px;

                    text-align:center;

                    a {
                        display:block;

                        width:157px;
                        height:30px;
                        padding-top:157px;

                        background-repeat:no-repeat;
                        background-position:center top;

                        line-height: 30px;
                        font-size:18px;
                        text-decoration:none;
                        color:#51585b;

                        &:hover{
                            font-weight:bold;
                        }

                        &.chrome {
                            background-image:url("./../img/chrome.png");
                        }

                        &.firefox {
                            background-image:url("./../img/firefox.png");
                        }

                        &.internet_explorer {
                            background-image:url("./../img/internet_explorer.png");
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    BODY.exception {
        .align {
            .header {
                padding: 0px 20px;
            }
            .section {
                .message {
                    padding:0px 20px;
                }
                .barre_nav {
                    text-align:center;
                    padding-bottom:50px;
                    .navigateur {
                        display:block;
                        margin:0 auto;
                        & + .navigateur {
                            margin-top:40px;
                        }
                    }
                }
            }
        }
    }
}