/* BOX-SIZING */
* {
	box-sizing : border-box; /* Opera/IE 8+ */
	transition : background-color 0.4s, color 0.4s ease;
}

/* SCROLLBAR IE */
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

/* RESET */
a {
	color:#000;
	&:hover {
		color:red;
		color:red;

		color: black;
	}
}

BODY {
	position:relative;

	margin:0px;
	padding:0px;

	font-family:$regular; /*CUSTOMISABLE*/
	color:#354052;

	max-width: 100%;
	min-width:300px;
	min-height:100vh;

	background-color:#eff3f6; /*CUSTOMISABLE*/
}

HR {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0em;
	-webkit-margin-end: 0em;
	border-style: none;
	border-width: 0px;
}

FORM {
	margin:0px;
	padding:0px;
}

IMG {
	border:0px;
	display:block;
}

H1, H2, H3, H4 {
	margin:0px;
	padding:0px;

	font-weight:normal;
	font-size:1em;
}

STRONG, B {}

P {
	margin: 0px;
}

I {}

UL {
	margin:0px;
	padding:0px;
	list-style:none;
}

a {
	text-decoration:none;
	color:$site;
	cursor:pointer;
	&[href],
	&[onclick],
	&[popup]{
		cursor:pointer;
	}

	&:hover {
		text-decoration: none;
		color:$site_hover;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

INPUT::-ms-clear {display: none;}

.ck_edit_fix {
	A {
		text-decoration:underline;
	}

	img {
		display:inline-block;
	}

	ul,
	ol {
		margin:14px 0px;
		padding:0px;
		li {
			margin-left:20px;
		}
	}

	ul {
		list-style-type: circle;
	}
}