/*TEXT*/
.form_text{
    margin-bottom:10px;
    font-size:14px;
    line-height:18px;
    color: #99a5b6;
}

/* TITRES */
.main_title{
    margin-bottom:30px;
    font-size:24px;
    line-height:28px;
    color:#354052; /*CUSTOMISABLE*/
    .subtitle {
        font-size:15px;
        line-height:19px;
        color:#98a5b6; /*CUSTOMISABLE*/
    }
}

.form_title{
    margin-top:30px;
    margin-bottom: 10px;
    font-family:$bold;
    font-size:14px;
    line-height:18px;

    color:$site; /*CUSTOMISABLE*/
    border-bottom:1px solid $site;
    text-transform:uppercase;
}
