.crud_toolbar {
    text-align: right;
    margin-bottom: 10px;
    DIV[class^="crud-"] {
        display: inline-block;
        vertical-align: top;

        width: 30px;
        margin: 0px 5px;

        font-size: 16px;
        line-height: 34px;
        color: #9fa9ba;

        text-align: center;

        cursor: pointer;
    }
    .action_button {
        position: relative;
        display: inline-block;
        vertical-align: top;

        margin-left: 10px;
        padding: 5px 20px 7px 17px;

        background-color: $site;
        color: #FFF;
        border-radius: 20px;

        cursor: pointer;
        &:hover {
            background-color: $site_hover;
        }
        .icone {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;

            line-height: 18px;
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            font-family: $semibold;
            font-size: 14px;
            line-height: 18px;
        }
        .action_button_dropdown {
            position: absolute;
            top: 130%;
            right: 0px;

            display: none;
            width: 175px;
            padding: 10px 15px;

            background-color: #FFF; /*CUSTOMISABLE*/
            border: 1px solid #e6eaee;
            z-index: 100;

            text-align: left;
            .action_button_arrow {
                position: absolute;
                top: -5px;
                right: 10px;

                display: block;
                width: 10px;
                height: 10px;

                background-color: #FFF;
                border-top: 1px solid #e6eaee;
                border-left: 1px solid #e6eaee;

                transform: rotate(45deg);
            }
            .action_button_dropdown_item {
                display: block;
                margin: 7px 0px;
                font-size: 12px;
                line-height: 16px;
                color: #354052;
                transition: color 0.4s ease;
                &:hover {
                    color: $site;

                }
            }
            .action_button_dropdown_separator {
                display: block;
                width: 100%;
                height: 1px;

                margin: 15px 0px;

                background-color: #e6eaee;
            }
        }
    }
}