.iframe_container {
	position:relative;
	width:100%;
	height:0px;
	padding-bottom:56.25%;
	IFRAME{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%
	}
}

.dnl_media_video {
    position:relative;

    &.dnl_media_video_img {
        display:inline-block;
    }

    &.dnl_media_video_background {
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        height:400px;
    }

    cursor: pointer;
    overflow: hidden;

    .dnl_media_play {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:80px;

        background-color:rgba(#000,0.4);

        .dnl_media_play_icon {
            display:block;
            margin-top:20px;
            margin-left:26px;

            width:0px;
            height:40px;

            border-left:35px solid #FFF;
            border-top:20px solid transparent;
            border-bottom:20px solid transparent;

            background: transparent;
        }
    }
}